<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sony.ppog.mapper.CityMapper">
	<resultMap id="BasicResultMap"
		type="jp.co.sony.ppog.entity.City" autoMapping="true">
		<id property="id" jdbcType="NUMERIC" column="ID" />
		<association property="district" javaType="jp.co.sony.ppog.entity.District">
			<id property="id" jdbcType="NUMERIC" column="ID" />
			<result property="name" jdbcType="NVARCHAR" column="DISTRICT_NAME" />
		</association>
	</resultMap>
	<insert id="insertById"
		parameterType="jp.co.sony.ppog.entity.City">
		INSERT 
		INTO PPOG_CITIES PC( 
		    PC.ID
		    , PC.NAME
		    , PC.DISTRICT_ID
		    , PC.POPULATION
		    , PC.DEL_FLG
		) 
		VALUES ( 
		    #{id,jdbcType=NUMERIC}
		    , #{name,jdbcType=NVARCHAR}
		    , #{districtId,jdbcType=NUMERIC}
		    , #{population,jdbcType=NUMERIC}
		    , #{delFlg,jdbcType=NVARCHAR}
		)
	</insert>
	<update id="updateById"
		parameterType="jp.co.sony.ppog.entity.City">
		UPDATE PPOG_CITIES PC 
		<set>
			<if test="name != null">
				PC.NAME = #{name,jdbcType=NVARCHAR},
			</if>
			<if test="districtId != null">
				PC.DISTRICT_ID = #{districtId,jdbcType=NUMERIC},
			</if>
			<if test="population != null">
				PC.POPULATION = #{population,jdbcType=NUMERIC},
			</if>
		</set>
		WHERE
		    PC.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND PC.ID = #{id,jdbcType=NUMERIC}
	</update>
	<select id="paginationByKeyword" resultMap="BasicResultMap">
		SELECT
		    PC.ID
		    , PC.NAME
		    , PC.DISTRICT_ID
		    , PC.POPULATION 
		    , PD.NAME AS DISTRICT_NAME
		FROM
		    PPOG_CITIES PC 
		    INNER JOIN PPOG_DISTRICTS PD 
		        ON PD.ID = PC.DISTRICT_ID 
		WHERE
		    PC.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PC.ID LIKE #{keyword,jdbcType=NUMERIC} 
		        OR PC.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PD.NAME LIKE #{keyword,jdbcType=NVARCHAR}
		    ) 
		ORDER BY
		    PC.ID OFFSET #{offset,jdbcType=INTEGER} ROWS FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
	</select>
	<select id="countByKeyword" resultType="java.lang.Long">
		SELECT
		    COUNT(1) 
		FROM
		    PPOG_CITIES PC 
		    INNER JOIN PPOG_DISTRICTS PD 
		        ON PD.ID = PC.DISTRICT_ID 
		WHERE
		    PC.DEL_FLG = #{delFlg,jdbcType=NVARCHAR} 
		    AND ( 
		        PC.ID LIKE #{keyword,jdbcType=NUMERIC} 
		        OR PC.NAME LIKE #{keyword,jdbcType=NVARCHAR} 
		        OR PD.NAME LIKE #{keyword,jdbcType=NVARCHAR}
		    )
	</select>
	<select id="checkDuplicated"
		parameterType="jp.co.sony.ppog.entity.City" resultType="java.lang.Integer">
		SELECT
		    COUNT(1) 
		FROM
		    PPOG_CITIES PC 
		WHERE
		    PC.NAME = #{name,jdbcType=NVARCHAR} 
		    AND PC.DISTRICT_ID = #{districtId,jdbcType=NUMERIC}
	</select>
</mapper>